<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DocPortal</display-name>
  <welcome-file-list>
    <welcome-file>index_case.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.web.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientDetailsInsert</display-name>
    <servlet-name>PatientDetailsInsert</servlet-name>
    <servlet-class>com.web.PatientDetailsInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientDetailsInsert</servlet-name>
    <url-pattern>/PatientDetailsInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet1</display-name>
    <servlet-name>RegisterServlet1</servlet-name>
    <servlet-class>com.web.RegisterServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet1</servlet-name>
    <url-pattern>/RegisterServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorNavigation1</display-name>
    <servlet-name>DoctorNavigation1</servlet-name>
    <servlet-class>com.web.DoctorNavigation1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorNavigation1</servlet-name>
    <url-pattern>/DoctorNavigation1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctor1Servlet</display-name>
    <servlet-name>Doctor1Servlet</servlet-name>
    <servlet-class>com.web.Doctor1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctor1Servlet</servlet-name>
    <url-pattern>/Doctor1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctor2Servlet</display-name>
    <servlet-name>Doctor2Servlet</servlet-name>
    <servlet-class>com.web.Doctor2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctor2Servlet</servlet-name>
    <url-pattern>/Doctor2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Doctor3Servlet</display-name>
    <servlet-name>Doctor3Servlet</servlet-name>
    <servlet-class>com.web.Doctor3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctor3Servlet</servlet-name>
    <url-pattern>/Doctor3Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>receptionistServlet</display-name>
    <servlet-name>receptionistServlet</servlet-name>
    <servlet-class>com.web.receptionistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>receptionistServlet</servlet-name>
    <url-pattern>/receptionistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReloginServlet1</display-name>
    <servlet-name>ReloginServlet1</servlet-name>
    <servlet-class>com.web.ReloginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReloginServlet1</servlet-name>
    <url-pattern>/ReloginServlet1</url-pattern>
  </servlet-mapping>
</web-app>